<% provide(:title, 'Home') %>
<h1> Inquisitor App</h1>
<p>Welcome to the Inquisitor App!</p>

<div><%= link_to "Sign In", 'signin', class: "btn btn-large btn-primary" %></div>
  <br>
  <div>Not a member? <%= link_to "Sign up now!", 'signup' %></div>    
</div>